.commentDiv{
    display: flex;
    margin: 10px 0;
}
.commentText{
    margin-left: 10px;
}
.commenterName{
    font-weight: 700;
}
.profilePic{
    height: 25px;
    width: auto;
}
input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    width: 100%;
}
input:hover{
    cursor: text !important;
}